# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
.env.*

# PyCharm
.idea/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python-specific
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Coverage
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/
